
#section_box {
    display:flex;
    justify-content: space-between;
}
#big_title {
    text-align: left;
}
#item_1 {
    display: flex;
    flex-direction: column;
}
#pic_box1 {
    height: 32dvw;
    width: 38dvw;
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
#pic_box2 {
    height: 32dvw;
    width: 38dvw;
    background-color: hsl(16, 100%, 89%);
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

#top_row {
    height:50%;
    display:flex;
    justify-content: space-between;
}

#icon_box1 {
    height: 4dvw;
    width: 4dvw;
    margin-left: 3%;
    margin-top: 3%;
}

#icon_box2 {
    height: 4dvw;
    width: 4dvw;
    margin-right: 3%;
    margin-top: 3%;
}

#icon {
    height: 100%;
    width: 100%;
}
#bottom_row {
    text-align: left;
    display: flex;
    justify-content: center;
    font-family: "MazzardH-Bold";
    height: 50%;
    width:95%;
    font-size: 3dvw;
    margin-top: 25%;
    margin-left: 5%;
    
}

#business_pic {
    height: 100%;
    width: 100%;
}
#business_text {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}
#business_name {
    font-family: 'MazzardH-Bold';
    font-size:2dvw;
}
#rating {
    display: flex;
}
#l1 {
    text-align: left;
}
#l2 {
    text-align: left;
    font-family: 'MazzardH-Bold';
}
#button_box {
    margin-bottom:5%
}
